<!-- Link to external CSS for modal styling -->
<link rel="stylesheet" href="/css/creds.css">

<!-- Acknowledgements Modal: Displays credits for the project team -->
<!-- Modal -->
<div class="modal fade" id="skibidiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header with Close Button -->
            <div class="modal-header">
                <button style="filter: invert()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- Modal Body with Project Credits and Acknowledgements -->
            <div class="modal-body">
                <h1 class="modal-title fs-5 hoverfloat" id="exampleModalLabel">Acknowledgements</h1>
                <!-- Section Header: Developers -->
                <h3><i class="fa-solid fa-wrench"></i>&nbsp;&nbsp;&nbsp;<span class="hoverfloat">Project</span> <span class="hoverfloat">Developers</span>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-wrench" style="transform: rotate(180deg)"></i></h3>
                <!-- Developers -->
                <p>Arjun Palakkal <a class="linkedin-plug" href="https://www.linkedin.com/in/arjunpalakkal" target="_blank"><i class="fa-brands fa-linkedin"></i></a> <a class="instagram-plug" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
                <p>Liu Yancheng <a class="linkedin-plug" href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a> <a class="instagram-plug" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
                <p>Liu Yichen Claire <a class="linkedin-plug" href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a> <a class="instagram-plug" href="" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
                <p>Vincent Aung <a class="linkedin-plug" href="https://www.linkedin.com/in/vincent-a-32a278215/" target="_blank"><i class="fa-brands fa-linkedin"></i></a> <a class="instagram-plug" href="https://www.instagram.com/v1nc3nt_a/" target="_blank"><i class="fa-brands fa-instagram"></i></a></p>
                <!-- Section Header: Additional Thanks -->
                <h3><i class="fa-solid fa-heart"></i>&nbsp;&nbsp;&nbsp;<span class="hoverfloat">Additional</span> <span class="hoverfloat">Thanks</span> <span class="hoverfloat">To</span>&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-heart"></i></h3>
                <!-- Acknowledgements -->
                <p>Liu Yida <a class="linkedin-plug" href="https://www.linkedin.com/in/liu-yida-rvhs-bb4469316" target="_blank"><i class="fa-brands fa-linkedin"></i></a></p>
            </div>
        </div>
    </div>
</div>

<!-- Footer section with modal trigger for credits -->
<div class="credits-container">
    <p class="large-screen">Created by <a data-bs-toggle="modal" data-bs-target="#skibidiModal">students</a> of River Valley High School.</p>
    <p class="small-screen">Created by RVHS <a data-bs-toggle="modal" data-bs-target="#skibidiModal">students</a>!</p>
</div>
