<!-- Navbar Section -->

<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container justify-content-center">

        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <img class="rv-logo" src="/images/rvhs-logo-menu-bar.png" alt="RVHS Logo">
            <!--<span class="home-page-link">RV Campus Guide</span>--> <!-- Uncomment this line if you want to show the title -->
        </a>

        <!-- Navbar Toggle Button for Mobile View -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">

                <!-- Dropdown for About RV -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about-rv" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        About RV
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/about-rv/">School Overview</a></li>
                        <li><a class="dropdown-item" href="/about-rv/vision-mission-motto">Vision, Mission, Motto</a></li>
                        <li><a class="dropdown-item" href="/about-rv/school-values-and-spirit">School Values and Spirit</a></li>
                        <li><a class="dropdown-item" href="/about-rv/principals-message">Principal's Message</a></li>
                        <li><a class="dropdown-item" href="/about-rv/our-school-leaders">Our School Leaders</a></li>
                        <li><a class="dropdown-item" href="/about-rv/school-history">School History</a></li>
                        <li><a class="dropdown-item" href="/about-rv/school-partners">School Partners</a></li>
                        <li><a class="dropdown-item" href="/about-rv/contact-info">Contact Info</a></li>
                    </ul>
                </li>

                <!-- Dropdown for Our Curriculum -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/curriculum" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Curriculum
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/curriculum">Our Curriculum</a></li>
                        <li><a class="dropdown-item" href="/curriculum/balanced-education">Balanced Education</a></li>
                        <li><a class="dropdown-item" href="/curriculum/signature-programmes">Signature Programmes</a></li>
                        <li><a class="dropdown-item" href="/curriculum/talent-development">Talent Development</a></li>
                    </ul>
                </li>

                <!-- Dropdown for Achievements -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/achievements/scholarship-recipients" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Achievements
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/achievements/scholarship-recipients">Scholarship Recipients</a></li>
                        <li><a class="dropdown-item" href="/achievements/outstanding-achievements">Outstanding Achievements</a></li>
                        <li><a class="dropdown-item" href="/achievements/2023-gce-a-level-results">2023 GCE A-Level Results</a></li>
                        <li><a class="dropdown-item" href="/achievements/through-the-years">Through the Years</a></li>
                        <li><a class="dropdown-item" href="/achievements/honours-day">Honours Day</a></li>
                    </ul>
                </li>

                <!-- Dropdown for Information -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/info/school" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Information
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/info/school">Whole School</a></li>
                        <li><a class="dropdown-item" href="/info/secondary">Secondary School</a></li>
                        <li><a class="dropdown-item" href="/info/junior-college">Junior College</a></li>
                    </ul>
                </li>

                <!-- Dropdown for Our Stories -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/stories/rv-68" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Stories
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/stories/rv-68">RV68</a></li>
                        <li><a class="dropdown-item" href="/stories/eco-trail">EcoTrail @ RV</a></li>
                        <li><a class="dropdown-item" href="/stories/rv-67-art-exhibition">RV67 Art Exhibition</a></li>
                        <li><a class="dropdown-item" href="/stories/rv-65">RV65</a></li>
                        <li><a class="dropdown-item" href="/stories/rv-60">RV60</a></li>
                        <li><a class="dropdown-item" href="/stories/rv-events">RV Events</a></li>
                        <li><a class="dropdown-item" href="/stories/rv-songs">RV Songs</a></li>
                    </ul>
                </li>

                <!-- Dropdown for Our Campus -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Our Campus
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        New!
                        <span class="visually-hidden">new</span></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/facilities">Facilities</a></li>
                        <li><a class="dropdown-item" href="/directions">Directions</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/3d-tour">3D Tour</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Darken the screen (on mobile) when the sandwich thing is clicked to expand the menu bar -->
<div class="overlay"></div>

