<!-- Main Navigation Bar -->
<nav class="navbar main-nav navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container justify-content-center">

        <!-- Background Blur -->
        <div class="navbar-blur-bg"></div>

        <!-- Brand Logo -->
        <a class="navbar-brand" href="/">
            <img class="rv-logo" src="/images/rvhs-logo-menu-bar.png" alt="RVHS Logo">
            <!--<span class="home-page-link">RV Campus Guide</span>--> <!-- Uncomment this line if you want to show the title -->
        </a>

        <!-- Navbar Toggle Button for Mobile View -->
        <button class="navbar-toggler btn-outline-light" style="filter: invert(1)" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible Navbar Content -->
        <div class="nav-content collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/facilities">Facilities</a>
            <a class="dropdown-item" href="/about-rv">About RV</a>
        </div>
    </div>
</nav>

<!-- Darken the screen (on mobile) when the sandwich thing is clicked to expand the menu bar -->
<div class="overlay"></div>

<script src="/js/nav-dropdown-animation.js"></script>




























