<nav class="navbar navbar-expand-lg bg-body-tertiary justify-content-center">
    <div class="container justify-content-center">
        <a class="navbar-brand" href="/">
            <img class="rv-logo" src="/images/rvhs-logo.png" alt="">
            <span class="home-page-link">RV Campus Guide</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facilities">Facilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/directions">Directions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/3d-tour">3D Tour</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="overlay"></div>
