body {
    background-color: black;
}

h1 {
    margin-top: 90px;
}

.card-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}

.card {
    width: 20rem;
}

.card-img {
    height: 13rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

h2 {
    font-size: 200px;
}

.banner-image {
    position: relative;
    display: inline-block;
}

.banner-image img {
    display: block;
    width: 100vw;
    filter: brightness(60%);
}

div.main-banner div.banner-text {
    position: absolute;
    top: 270px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.main-banner div.banner-text h1 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 150px;
    font-weight: bolder;
    margin-bottom: 30px;
    white-space: nowrap;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h1 {
        font-size: 100px; /* Adjust proportionately */
    }
}
@media (max-width: 700px) {
    div.main-banner div.banner-text h1 {
        font-size: 70px; /* Adjust proportionately */
    }
}

div.main-banner div.banner-text i.facilities-school-icon-shadow {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 250px;
    opacity: 0.3;
    z-index: -1;
}

div.main-banner div.banner-text h4 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 35px;
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h4 {
        font-size: 24px; /* Adjust proportionately */
    }
}
@media (max-width: 700px) {
    div.main-banner div.banner-text h4 {
        font-size: 17px; /* Adjust proportionately */
    }
}

div.main-banner div.banner-text h6 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h6 {
        font-size: 10px; /* Adjust proportionately */
    }
}
@media (max-width: 700px) {
    div.main-banner div.banner-text h6 {
        font-size: 7px; /* Adjust proportionately */
    }
}

div.main-banner div.banner-text div.banner-button-group button {
    box-shadow: 0 0 4px white;
    /* text-shadow: 0 0 8px #888; */
    margin: 0 10px;
}

div.main-banner div.banner-button-group button {
    border-radius: 50px;
}

div.pages-container {
    position: absolute;
    top: 55vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 95%;
    /* Adjust as needed */
}

@media (max-width: 1050px) {
    div.pages-container {
        top: 50vh;
    }
}
@media (max-width: 700px) {
    div.pages-container {
        top: 45vh;
    }
}

div.pages-row {
    display: flex;
    width: 100%;
}

div.pages-column {
    flex: 1;
    margin: 10px;
    border: 1px solid white;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 5%;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

div.pages-column h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
}

@media (max-width: 1060px) {
    div.pages-column h2 {
        font-size: 40px; /* Adjust proportionately */
    }
}
@media (max-width: 800px) {
    div.pages-column h2 {
        font-size: 28px; /* Adjust proportionately */
    }
}

div.pages-column p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

@media (max-width: 1060px) {
    div.pages-column p {
        font-size: 20px; /* Adjust proportionately */
    }
}
@media (max-width: 800px) {
    div.pages-column p {
        font-size: 14px; /* Adjust proportionately */
    }
}

div.pages-column button {
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

div.pages-column button i {
    margin-left: 3px;
}

div.pages-show-split { display: block !important }
div.pages-show-stacked { display: none !important }

@media (max-width: 600px) {
    div.pages-show-split { display: none !important }
    div.pages-show-stacked { display: block !important }
}

div.scroll-indicator {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

div.scroll-indicator i.scroll-icon {
    font-size: 20px;
    animation: scrollIconAnimation 3s infinite;
}

div.scroll-indicator p.scroll-text {
    font-size: 20px;
}

/* ANIMATIONS */
.hoverfloat {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hoverfloat:hover {
    transform: translateY(-5px);
}

div.pages-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}

@keyframes scrollIconAnimation {
    0% {
        transform: translateY(0);
    }

    21.43% {
        /* Equivalent to 1.5s */
        transform: translateY(0);
    }

    42.86% {
        /* Equivalent to 3s */
        transform: translateY(0);
    }

    57.14% {
        /* Equivalent to 4s */
        transform: translateY(3px);
    }

    71.43% {
        /* Equivalent to 5s */
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
