body {
    background-color: black;
}

.banner-image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.banner-image img {
    display: block;
    width: 100vw;
    text-align: center;
    filter: brightness(60%);
    object-fit: cover;
    object-position: center;
    height: 100%;
}

@media (max-width: 1050px) {
    .banner-image img {
        height: 90vw;
    }
}
@media (max-width: 700px) {
    .banner-image img {
        height: 120vw;
    }
}

div.page-content {
    position: absolute;
    top: max(80px, 15vh);
    width: 100%;
}

div.main-banner div.banner-text {
    /*position: absolute;*/
    /*top: 270px;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    text-align: center;
}

div.main-banner div.banner-text h1 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 150px;
    font-weight: bolder;
    white-space: wrap;
}

/*.show-at-700 { display: none; }*/
/*.hide-at-700 { display: block; }*/

@media (max-width: 1050px) {
    div.main-banner div.banner-text h1 {
        font-size: 100px; /* Adjust proportionately */
    }
}
@media (max-width: 570px) {
    div.main-banner div.banner-text h1 {
        font-size: 70px;
    }
}
@media (max-width: 400px) {
    div.main-banner div.banner-text h1 {
        font-size: 55px;
    }
}

div.main-banner div.banner-text h4 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 35px;
    margin-bottom: 30px;
    width: 80%;
    margin-left: 10%;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h4 {
        font-size: 24px; /* Adjust proportionately */
    }
}
@media (max-width: 700px) {
    div.main-banner div.banner-text h4 {
        font-size: 17px; /* Adjust proportionately */
    }
}
@media (max-width: 400px) {
    div.main-banner div.banner-text h4 {
        font-size: 13px; /* Adjust proportionately */
    }
}

div.main-banner div.banner-text h6 {
    color: white;
    text-shadow: 0 0 20px rgba(0, 0, 0, 30%);
    font-size: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h6 {
        font-size: 10px; /* Adjust proportionately */
    }
}
@media (max-width: 900px) {
    div.main-banner div.banner-text h6 {
        display: none;
    }
}

div.main-banner div.banner-text div.banner-button-group button {
    box-shadow: 0 0 4px white;
    /* text-shadow: 0 0 8px #888; */
    margin: 0 10px;
}

div.main-banner div.banner-button-group button {
    border-radius: 50px;
}

div.pages-column {
    flex: 1;
    box-sizing: border-box;
    margin: 10px 10px 20px;
    padding: 5%;
    text-align: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.27);
}

div.pages-column h2 {
    font-size: 60px;
    font-weight: bolder;
    color: white;
}

@media (max-width: 1200px) {
    div.pages-column h2 {
        font-size: 40px; /* Adjust proportionately */
    }
}
@media (max-width: 800px) {
    div.pages-column h2 {
        font-size: 28px; /* Adjust proportionately */
    }
}

div.pages-column p {
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

@media (max-width: 1200px) {
    div.pages-column p {
        font-size: 20px; /* Adjust proportionately */
    }
}
@media (max-width: 800px) {
    div.pages-column p {
        font-size: 14px; /* Adjust proportionately */
    }
}

div.pages-column button {
    font-size: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    margin-top: 10px;
}

div.pages-column button i {
    margin-left: 3px;
}

.pages-show-split { display: block; }
.pages-show-stacked { display: none; }
@media (max-width: 515px) {
    .pages-show-split { display: none; }
    .pages-show-stacked { display: block; }
}

div.scroll-indicator {
    color: white;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

div.scroll-indicator i.scroll-icon {
    font-size: 20px;
    animation: scrollIconAnimation 3s infinite;
}

div.scroll-indicator p.scroll-text {
    font-size: 20px;
}

/* ANIMATIONS */
.hoverfloat {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hoverfloat:hover {
    transform: translateY(-3px) rotate(3deg);
}

div.pages-container {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    text-align: center;
}

@keyframes scrollIconAnimation {
    0% {
        transform: translateY(0);
    }

    21.43% {
        /* Equivalent to 1.5s */
        transform: translateY(0);
    }

    42.86% {
        /* Equivalent to 3s */
        transform: translateY(0);
    }

    57.14% {
        /* Equivalent to 4s */
        transform: translateY(3px);
    }

    71.43% {
        /* Equivalent to 5s */
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
