body {
    background-color: black;
}

h1 {
    margin-top: 90px;
}

div.main-banner {
    position: relative; /* Ensure main-banner is the positioning context */
}

div.bg-img-container {
    width: 100%;
    height: 800px; /* Fixed height */
    overflow: hidden; /* Crop the image if it exceeds the container */
    position: relative;
}

div.bg-img-container img {
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container while being cropped */
    position: absolute;
    top: 0;
    left: 0;
}

div.main-banner div.banner-text {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

div.main-banner::after {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    pointer-events: none;
}

div.main-banner div.banner-text h1 {
    color: white;
    text-shadow: 0 0 20px gray;
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 10px;
}

div.main-banner div.banner-text h4 {
    color: white;
    text-shadow: 0 0 20px gray;
    font-size: 20px;
    margin-bottom: 30px;
}

div.main-banner div.banner-text p {
    color: white;
    margin-top: 150px;
}

iframe {
    position: absolute; /* Positioning to overlap */
    bottom: 3%; /* Adjust as needed to overlap the image */
    left: 15%;
    width: 70%; /* Adjust width as needed */
    height: 65%; /* Adjust height as needed */
    border: 0 none;
    border-radius: 8px;
    z-index: 2; /* Ensure iframe is above the image */
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
                0 2px 2px rgba(0,0,0,0.11),
                0 4px 4px rgba(0,0,0,0.11),
                0 6px 8px rgba(0,0,0,0.11),
                0 8px 16px rgba(0,0,0,0.11);
}

.hoverfloat {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hoverfloat:hover {
    transform: translateY(-5px);
}
