body {
    background-color: black;
}

h1 {
    margin-top: 90px;
}

div.main-banner {
    position: relative; /* Ensure main-banner is the positioning context */
}

div.bg-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

div.bg-img-container img {
    display: block;
    width: 100vw;
    text-align: center;
    filter: brightness(40%);
    object-fit: cover;
    object-position: center;
    height: 100%;
}

@media (max-width: 1050px) {
    .bg-img-container img {
        height: 90vw;
    }
}
@media (max-width: 700px) {
    .bg-img-container img {
        height: 120vw;
    }
}

div.page-content {
    position: absolute;
    top: max(40px, 3vh);
    width: 100%;
}

div.main-banner div.banner-text {
    text-align: center;
    margin: 100px 5vw 60px;
}

div.main-banner div.banner-text h1 {
    color: white;
    text-shadow: 0 0 20px gray;
    font-size: 80px;
    font-weight: bolder;
    margin-bottom: 10px;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h1 {
        font-size: 55px; /* Adjust proportionately */
    }
}
@media (max-width: 570px) {
    div.main-banner div.banner-text h1 {
        font-size: 39px;
    }
}
@media (max-width: 400px) {
    div.main-banner div.banner-text h1 {
        font-size: 30px;
    }
}

div.main-banner div.banner-text h4 {
    color: white;
    text-shadow: 0 0 20px gray;
    font-size: 25px;
    margin-bottom: 30px;
}

@media (max-width: 1050px) {
    div.main-banner div.banner-text h4 {
        font-size: 17px; /* Adjust proportionately */
    }
}
@media (max-width: 570px) {
    div.main-banner div.banner-text h4 {
        font-size: 12px; /* Adjust proportionately */
    }
}
@media (max-width: 400px) {
    div.main-banner div.banner-text h4 {
        font-size: 9px; /* Adjust proportionately */
    }
}

iframe {
    width: 70vw; /* Adjust width as needed */
    margin-left: 15vw;
    height: 65vh; /* Adjust height as needed */
    border: 0 none;
    border-radius: 8px;
    z-index: 2; /* Ensure iframe is above the image */
    box-shadow: 0 1px 1px rgba(0,0,0,0.11),
                0 2px 2px rgba(0,0,0,0.11),
                0 4px 4px rgba(0,0,0,0.11),
                0 6px 8px rgba(0,0,0,0.11),
                0 8px 16px rgba(0,0,0,0.11);
}

@media (max-width: 760px) {
    iframe {
        height: 55vh;
    }
}

@media (max-width: 500px) {
    iframe {
        height: 50vh;
    }
}

@media (max-width: 350px) {
    iframe {
        height: 45vh;
    }
}

.hoverfloat {
    display: inline-block;
    transition: transform 0.3s ease;
}

.hoverfloat:hover {
    transform: translateY(-3px) rotate(3deg);
}
